.mypy_cache
__pycache__
_wasm
_playcanvas_tutorial
maps
issues
python/__pycache__
test_types.py
assemblyscript/node_modules
assemblyscript/run.js
assemblyscript/navmesh_test.js
assemblyscript/grid_graph_test.js
assemblyscript/bvh_test.js
*.js
*.nm
*.obj
*.txt
python/issues
python/map_benchmark.py
python/pynavmesh.egg-info
python/navmesh_test.py
python/rvo_test.py
python/baker_test.py
python/test_write_text_to_binray.py
assemblyscript/build
assemblyscript/*.nm
assemblyscript/build/*.js
assemblyscript/build/*.py
assemblyscript/build/*.wasm
assemblyscript/build/*.ts
assemblyscript/assembly/index.ts
assemblyscript/assembly/maps_data.ts
*.json
assemblyscript/tests_files
pyproject.toml
setup.cfg
dist
LICENSE
PY_README.md
pynavmesh.egg-info