.mypy_cache
__pycache__
_wasm
_playcanvas_tutorial
maps
python/__pycache__
README.txt
test_types.py
assemblyscript/node_modules
assemblyscript/run.js
assemblyscript/navmesh_test.js
assemblyscript/grid_graph_test.js
assemblyscript/bvh_test.js
*.js
*.nm
python/issues
python/map_benchmark.py
python/navmeshdata.txt
python/map_01.txt
python/map_01_points.txt
python/cube_and_plane.txt
python/pynavmesh.egg-info
python/level_two_zones.txt
python/navmesh_test.py
python/rvo_test.py
assemblyscript/build
assemblyscript/build command.txt
assemblyscript/map_02.txt
assemblyscript/map_02_reduce.txt
assemblyscript/build/*.js
assemblyscript/build/*.py
assemblyscript/build/*.wasm
assemblyscript/build/*.ts
assemblyscript/assembly/index.ts
assemblyscript/assembly/maps_data.ts
*.json
assemblyscript/tests_files
pyproject.toml
setup.cfg
dist
LICENSE
PY_README.md
pynavmesh.egg-info