.mypy_cache
__pycache__
python/__pycache__
test_types.py
wasm/node_modules
wasm/run.js
wasm/build command.txt
wasm/navmesh_test.js
wasm/grid_graph_test.js
wasm/bvh_test.js
*.js
python/map_benchmark.py
python/navmeshdata.txt
wasm/build command.txt
wasm/map_02.txt
wasm/map_02_reduce.txt
*.json
wasm/tests_files